MSSQL_SA_PASSWORD=ChangeMe123!
MSSQL_PORT=1433
DB_NAME=UrlShortenerDb

Jwt__SecureKey=YourSuperSecureKey
Jwt__Issuer=UrlShortenerApi
Jwt__Audience=UrlShortenerClient
Jwt__AccessTokenLifetimeInMinutes=60