.env
.env.*
!.env.example
*.user
*.suo
*.userosscache
*.pem
*.pfx

.idea/
.vscode/
*.userosscache
*.sln.docstates

[Bb]in/
[Oo]bj/
*.lock.json
*.log
appsettings.Development.json
appsettings.Local.json

*.db
*.db-shm
*.db-wal
*.mdf
*.ldf
*.bak
*.trn

frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.pnp.*
.pnp.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.npm